# --- Python & Build ---
__pycache__/
*.py[cod]
build/
dist/
*.spec
venv/
.env
.vscode/
.idea/

# --- DATOS PRIVADOS (Old & New) ---
# Ignorar carpeta vieja
modelos/*

# Ignorar carpeta NUEVA (Maletin)
maletin/*

# EXCEPCIÓN: Permitir subir el 'esqueleto' de las carpetas
!modelos/.gitkeep
!maletin/.gitkeep