# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# --- PyInstaller (Compilación) ---
# Esto evita subir el EXE y las carpetas temporales
build/
dist/
*.spec

# --- IDEs / Editores ---
.vscode/
.idea/

# --- MAD NOTES ---
# Ignorar todos los archivos dentro de la carpeta modelos (tus datos privados)
modelos/*

# EXCEPCIÓN: Mantener la carpeta 'modelos' vacía en el repo
!modelos/.gitkeep